<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2 Homepage</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Grandma's Recipes....</h1>
    <div>
      <img src="/images/grandma.jpeg" width="360" height="420" alt="grandma">
    </div>
   

    <h2>and Mom's.....   </h2>
    <h4>and more.....</h4>
    <nav>
      <a href="/recipes">Go To Recipes Page</a>

      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/logout">Log Out</a>
    </nav>
  </body>
</html>
