<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css">
  </head>
</head>

<body>
    <h1>Create New Recipe page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/recipes" method="POST">
        Title: <input type="text" name="title" />
        Description: <input type="text" name="description" />
        Ingredients: <input type="text" name="ingredients" />
        Instructions: <input type="text" name="instructions" />
        <input type="submit" value="Create Recipe" />
    </form>
</body>

</html>